html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #0E0E10;
	color: white;
	position: relative;
	box-sizing: border-box;
	padding: 20px;
	font-family: Arial, monospace;
}

:root {
	--text_input_bg: #FFFFFF33;
	--text_input_height: 16px;
	--button_bg: #9147ff;
	--button_hover_bg: #772ce8;
	--description_color: darkgray;
	--text_color: white;
}

.title {
	font-size: 38px;
	margin: 0 0 10px 0;
}

.section {
	padding-left: 30px;
}

.sectionTitle {
	font-size: 20px;
	margin: 15px 0 0 0;
}

.sectionDescription {
	color: var(--description_color);
	font-size: 16px;
	margin: 0;
}

.settingTitle {
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 0;
	display: block;
}

.settingDescription {
	color: var(--description_color);
	font-size: 14px;
	margin-top: 1px;
	margin-bottom: 5px;
}

input {
	display: block;
}

.inputField {
	background-color: var(--text_input_bg);
	height: var(--text_input_height);
	color: var(--text_color);
	border-radius: 5px;
	padding: 5px 10px;
}

/*List*/
.list {
	display: inline-block;
}
.list > .listItem {
	margin-bottom: 5px;
}
.list > .listItem:last-child {
	margin-bottom: 0;
}
.listItem > .inputField {
	float: left;
}

.squareButton {
	width: 30px;
	height: 30px;
	font-size: 22px;
	user-select: none;
	padding: 5px;
	margin-left: 5px;
	cursor: pointer;
}
.squareButton > svg {
	display: block;
}

.addButton {
	background-color: var(--button_bg);
	border-radius: 5px;
}

.removeButton {
	background-color: transparent;
	width: 16px;
	height: 16px;
	padding: 0;
	margin-top: 7px;
	margin-bottom: 7px;
	border: none;
}
.removeButton:disabled {
	cursor: default;
}
.removeButton:disabled > svg rect {
	fill: gray !important;
}

.button {
	background-color: var(--button_bg);
	color: var(--text_color);
	font-size: 14px;
	user-select: none;
	border-radius: 5px;
	padding: 5px;
	margin-top: 10px;
	cursor: pointer;
}
.button:hover {
	background-color: var(--button_hover_bg);
}
.button:active {
	background-color: var(--button_bg);
}

.focusGlow {
	border: solid 2px rgba(0, 0, 0, 0);
}
.focusGlow:hover {
	border-color: var(--text_input_bg);
}
.focusGlow:focus {
	border-color: var(--button_hover_bg);
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.075) inset, 0 0 8px #772ce899;
	outline: 0 none;
}

/*Auto fill bg color*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px #3E3E40 inset !important;
	-webkit-text-fill-color: white !important;
}