html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	background-color: black;
}

canvas {
	display: block;
}

.mainCanvas {
}

.settingBtn {
	position: absolute;
	right: 5px;
	top: 5px;
}

.settingBtn > img {
	height: 30px;
}